<div class="container align-items-start">
  <div class="row ps-4">
    <div class="col-10">
      <h4 class="text-start pt-3">Nutrimind AI</h4>
    </div>
    <div class="col-2">
      <h4 class="text-start pt-3 pe-3">
        <i style="font-size: 30px" class="pi pi-microchip-ai"></i>
      </h4>
    </div>
  </div>

  <div id="chatbot_box">
    <ng-container *ngIf="num_messages > 0">
      <ng-container
        class="row d-flex mt-3"
        *ngFor="
          let message of messageList_bot.slice(0, messageList_bot.length - 1);
          let index = index
        "
      >
        <div class="col-10">
          <div style="white-space: pre-line" class="card border-0 w-100 p-3">
            <div>
              <p class="card-text">{{ messageList_user[index] }}</p>
            </div>
          </div>
        </div>
        <div class="col-10">
          <div
            style="white-space: pre-line"
            class="card border-0 w-100 p-3 bg-primary"
          >
            <div>
              <p class="card-text">{{ message }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="fixed-bottom pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <textarea
            style="border-radius: 10px; height: 5rem"
            type="text"
            class="form-control"
            placeholder="Type your message here..."
            (keyup.enter)="sendMessage()"
            [(ngModel)]="newMessage"
          >
          </textarea>
          <div class="input-group-append ps-2">
            <button
              class="btn btn-success"
              type="button"
              style="border-radius: 10px; height: 5rem"
              [disabled]="newMessage === ''"
              (click)="sendMessage()"
            >
              <i class="bi bi-send"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
