<div
  class="d-flex justify-content-center align-items-center flex-col"
  style="height: 100vh; width: 100vw"
>
  <div
    id="chatbot_box"
    style="
      width: 80%;
      height: 60%;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    "
  >
    <ng-container *ngIf="num_messages > 0" style="height: 80%">
      <ng-container
        *ngFor="
          let message of messageList_bot.slice(0, messageList_bot.length - 1);
          let index = index
        "
      >
        <div
          style="
            margin-left: auto;
            border: 1px solid black;
            border-radius: 10px;
            padding: 3px;
          "
        >
          <div>
            <p class="white-space: pre-line">
              {{ messageList_user[index] }}
            </p>
          </div>
        </div>

        <div
          style="
            margin-right: auto;
            width: 45%;
            border: 1px solid black;
            border-radius: 10px;
            padding: 3px;
          "
        >
          <div>
            <p class="white-space: pre-line">
              {{ message }}
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <span
      style="
        margin: 10px;
        justify-content: center;
        margin-top: auto;
        display: flex;
        border: 2px solid black;
        border-radius: 10px;
        padding: 3px;
        background-color: white;
        align-self: flex-end;
      "
    >
      <input
        style="width: 80%; border-radius: 10px; border: none; outline: none"
        placeholder="Type your message here"
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
      />
      <button
        style="width: 20%; border-radius: 10px; border: none; outline: none"
        class="bg-success-subtle"
        [disabled]="newMessage === ''"
        (click)="sendMessage()"
      >
        Send
      </button>
    </span>
  </div>
</div>
