<div class="card border-0">
  <div class="row d-flex justify-content-between">
    <div class="col-6">
      <p class="text" style="color: #000000; font-size: 1.5rem">
        {{ mealLog?.mealType }}
      </p>
    </div>
    <div class="col-4 mt-2 me-2 text-end">
      <p class="text" style="color: #000000; font-size: 1rem">
        {{ getTotalCalories() }} cal
      </p>
    </div>
  </div>

  <div *ngFor="let item of mealLog?.mealItems">
    <span class="d-flex">
      <fa-icon [icon]="faCoffee"></fa-icon>
      <p class="m-0 ms-2 text-start">{{ item?.name }}</p>
      <p class="m-0 ms-2 text-start">{{ item?.foodGroup }}</p>
    </span>
  </div>

  <p-progressBar
    [style]="{ height: '.5rem' }"
    class="mt-2"
    [showValue]="false"
    [value]="25"
    [color]="primaryColor"
  ></p-progressBar>
  <p-progressBar
    [style]="{ height: '.5rem' }"
    class="mt-2"
    [showValue]="false"
    [value]="50"
    [color]="secondaryColor"
  ></p-progressBar>
  <p-progressBar
    [style]="{ height: '.5rem' }"
    class="mt-2"
    [showValue]="false"
    [value]="75"
    [color]="quaternaryColor"
  ></p-progressBar>
</div>
