<div class="col d-flex justify-content-center ps-5 pe-5 mt-3">
  <div class=" ">
    <img class="w-50 mx-auto d-block pb-4" src="assets/images/logo.svg" />
    <p class="display-4">Hello, user</p>
    <div>
      <p-chips
        class="test"
        [(ngModel)]="values"
        separator=","
        placeholder="Hint: a, b, c"
        styleClass="chips"
      ></p-chips>
    </div>
    <br />
    <p class="display-6">Your day so far</p>
    <div class="row p-3">
      <div class="col">
        <p-knob
          [(ngModel)]="knob1Value"
          [valueColor]="primaryColor"
          [size]="75"
        ></p-knob>
      </div>
      <div class="col">
        <p-knob
          [(ngModel)]="knob2Value"
          [valueColor]="secondaryColor"
          [size]="75"
        ></p-knob>
      </div>
      <div class="col">
        <p-knob
          [(ngModel)]="knob3Value"
          [valueColor]="quaternaryColor"
          [size]="75"
        ></p-knob>
      </div>
    </div>

    <div *ngFor="let meal of meals" class="row">
      <div class="mt-4">
        <app-meal-card [mealLog]="meal"></app-meal-card>
      </div>
    </div>
  </div>
</div>
