.main-container {

  .info-subtitle {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.info-container {
  background: #FFFFFFFF;
  border-radius: 13px;
  padding: 6px 2px;
}

::ng-deep .p-button.p-button-icon-only {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  bottom: 2.7rem;
  right: 1rem;
  z-index: 500;
}

::ng-deep .p-chips-multiple-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: text;
  overflow: hidden;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

::ng-deep .p-chips .p-chips-multiple-container {
  padding: 0.7rem !important;
  margin-bottom: unset !important;
  min-height: 20rem;
  max-height: 20rem;
  min-width: 16rem;
  max-width: 16rem;
  overflow-y: auto;
  font-size: 15px;
}

::ng-deep .p-chips:not(.p-disabled):hover .p-chips-multiple-container {
  border-color: #3d912e;
}

::ng-deep .p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
  border-color: #3d912e;
  box-shadow: 0 0 0 0.2rem #bbe9b3;
  outline-offset: 0;
  outline: 0 none;
}

::ng-deep .p-dialog-mask {
  backdrop-filter: blur(7px) saturate(0.5);
  padding: 2rem;
}

.subheader {
  margin-bottom: 0;
  font-size: 11px;
}

.dialog-button {
  border-radius: 50%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-black{
  filter: brightness(0) invert(0);
}


