.main-container {

  .info-subtitle {
    margin-bottom: 0;
    font-size: 15px;
  }
}

.info-container {
  background: #FFFFFFFF;
  border-radius: 13px;
  padding: 6px 2px;
}

::ng-deep .p-button.p-button-icon-only {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  bottom: 2.7rem;
  right: 1rem;
  z-index: 500;
}

::ng-deep .p-chips .p-chips-multiple-container {
  padding: 0.7rem !important;
  margin-bottom: unset !important;
  min-height: 13rem;
  max-height: 17rem;
  overflow-y: auto;
  font-size: 15px;
}

::ng-deep .p-dialog-mask {
  backdrop-filter: blur(7px) saturate(0.5);
  padding: 2rem;
}

.subheader {
  margin-bottom: 0;
  font-size: 11px;
}

.dialog-button {
  border-radius: 50%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
