<p-messages [(value)]="errorMessage" [enableService]="false" [hideTransitionOptions]="'300ms'"></p-messages>
<p-messages [(value)]="successMessage" [enableService]="false" [hideTransitionOptions]="'300ms'"></p-messages>

<div class="auth-container">
  <div class="form" [ngStyle]="{'height': !isSigningIn ? '490px' : '550px'}">
    <div class="header">
      <img src="assets/images/logo.svg" alt="">
    </div>

    <div *ngIf="!isSigningIn" class="inputs">
      <input [(ngModel)]="email" placeholder="Email" type="text"><br>
      <input [(ngModel)]="password" placeholder="Password" type="password">
    </div>

    <div *ngIf="isSigningIn" class="other-inputs">
      <input [(ngModel)]="email" placeholder="Email" type="text"><br>
      <input [(ngModel)]="password" placeholder="Password" type="password">
      <div class="middle">
        <input [(ngModel)]="age" class="other-input" placeholder="Age" type="number">
        <input [(ngModel)]="height" class="other-input" placeholder="Height" type="number">
        <input [(ngModel)]="weight" class="other-input" placeholder="Weight" type="number">
      </div>
      <p-dropdown [options]="sexOptions" [(ngModel)]="selectedSex" optionLabel="name" placeholder="Sex"></p-dropdown>
    </div>

    <div *ngIf="!isSigningIn" class="footer" [ngStyle]="{'margin-top': !isSigningIn ? '3rem' : '1rem'}">
      <button [disabled]="!email || !password" (click)="onSignIn()" class="btn">Log In</button>
      <p class="or">OR</p>
      <button (click)="goToSignUp()" class="btn">Sign Up</button>
    </div>

    <div *ngIf="isSigningIn" class="footer" [ngStyle]="{'margin-top': !isSigningIn ? '3rem' : '1rem'}">
      <button (click)="goToSignIn()" class="btn">Log In</button>
      <p class="or">OR</p>
      <button [disabled]="!age || !height || !weight" (click)="onSignUp()" class="btn">Sign Up</button>
    </div>
  </div>
</div>
